
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Textboxen Beispiel</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
            <img src="static/images/Logo.png" alt="Logo" style="height: 40px;"> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Planer</a>
            </li>
          
            <li class="nav-item">
            <a class="nav-link" href="/hinzufügen">Hinzufügen</a>
            </li>
            <a class="nav-link active" href="#">Impressum
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
            <li class="nav-item">
              <a class="nav-link" href="/registrieren">registrieren</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

  <div class="container mt-5">
    <h1 class="text-center mb-5">Mitwirkende</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Leonard</h5>
            <p class="card-text" id="textbox1">Arnold</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Leonard</h5>
            <p class="card-text" id="textbox2">Geßner</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alessandro</h5>
            <p class="card-text" id="textbox3">Krohmann</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Hannes</h5>
            <p class="card-text" id="textbox4">Krämer</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Kian</h5>
            <p class="card-text" id="textbox5">Niaty</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Juliana</h5>
            <p class="card-text" id="textbox6">Roda</p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Joshua</h5>
            <p class="card-text" id="textbox7">Waga</p>
          </div>
        </div>
      </div>
    </div>  

  <!-- Bootstrap JS und jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

