<!DOCTYPE html>
<html>
 
    <head>
        <meta charset="utf-8">
        <title>Kalender</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">

    </head>
<body>

    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
                <img src="static/images/Logo.png" alt="Logo" style="height: 40px;"> 
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Kalender
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="hinzufügen">Hinzufügen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Impressum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>


    <br>
    <div class="container">
        <h1 class="display-4">Kalender</h1>
        <br>
        <form action="/submit1" method="post">
            <table class='table table-info'>
                <thead class="thead-dark">
                    <tr>
                        <th>Fertig</th>
                        <th>Ereignis</th>
                        <th>Fälligkeitsdatum</th>
                        <th>Priorität</th>
                        <th>Löschen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>
                            <input type="checkbox" name="fertig-{{ row[0] }}" value="1" {% if row[4] == 1 %} checked {% endif %}>
                        </td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>
                            <input type="checkbox" name="priorisiert-{{ row[0] }}" value="1" {% if row[3] == 1 %} checked {% endif %}>
                        </td>

                        <td>
                            <button onclick="zeileLoeschen(this)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg></button>
                        </td>                        
                        <td>
                            <input type="hidden" name="id-{{ row[0] }}" value="{{ row[0] }}">
                        </td>
                        
                    </form>
                    </tr>
                    <script>
                        function zeileLoeschen(button) {
                        // Zugriff auf die Zeile des Buttons
                        var row = button.parentNode.parentNode;
                        
                        // Entfernen der Zeile aus der Tabelle
                        row.parentNode.removeChild(row);
                        }
                    </script>
                    {% endfor %}
                </tbody>
            </table>
        </form>    
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    </div>
    <br><br>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">Nur eine checkbox kann angetickt sein! Nicht zwei auf einmal!<br><br>Persöhnliche Tabelle konnte nicht geladen werden <a href="#" class="alert-link">Alle Datensätze werden angezeigt</a>.</p>
      </div>


</body>
</html>