<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
    <title>Kalender</title>
</head>
<body>
    <br>
    <div class="container">
        <h1 class="display-4">Kalender</h1>
        <br>
        <table class='table table-info'>
            <thead class="thead-dark">
                <tr>
                    <th>Fertig</th>
                    <th>Ereignis</th>
                    <th>Datum</th>
                    <th>Priorität</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>
                        {% if row[4] == 1 %}
                            <input type="checkbox" checked>
                        {% else %}
                            <input type="checkbox">
                        {% endif %}
                    </td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>
                        {% if row[3] == 1 %}
                            <input type="checkbox" checked>
                        {% else %}
                            <input type="checkbox">
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
