<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Zentriertes Foto</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
  <div class="image-container">
    <img src="static/images/registrierenSeiteBild.png" alt="Dein Bild">
  </div>
</div>
</body>
</html>
<style>
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%; 
}
  
.image-container {
    text-align: center;
}
  
.image-container img {
    max-width: 25%;
    max-height: 60%;
    display: block;
    margin: 0 auto;
}
</style>   

<!--grüße--> 